/**
 * image-blocks - Default styling for an image-blocks block.
 */
.block-image-blocks .content {
  display: inline-block;
}
.image-blocks-wrapper .image-blocks-image-link,
.image-blocks-wrapper .image-blocks-image-link:hover {
  border: none;
}
