{#
/**
 * @file
 * Default theme implementation for an image_blocks block - instagram provider
 *
 * Available variables:
 * - image_data: Array of image data provided to the theme function, each element
 *   containing the following data;
 *    - image_data.url_thumbnail - full url to the thumbnail sized image
 *    - image_data.height_thumbnail - height of the thumbnail sized image
 *    - image_data.width_thumbnail - width of the thumbnail sized image
 *    - image_data.url_large - full url to the 'large' sized image
 *    - image_data.height_large - height of the 'large' sized image
 *    - image_data.width_large - width of 'large' sized image
 *    - image_data.title - title of the image
 *    - image_data.description - description of the image (currently same as title)
 *    - image_data.image_page_url - full url
 */
#}
<div class="image-blocks-wrapper instagram">
  {% for image in image_data %}
    <a href="{{ image.image_page_url }}" title="{{ image.title }}" class="image-blocks-image-link instagram">
      <img src="{{ image.url_thumbnail }}" class="instagram-photo" height="{{ image.height_thumbnail }}" width="{{ image.width_thumbnail }}">
    </a>
  {% else %}
    <p>No image data found.</p>
  {% endfor %}
</div>